/*rgba(131,196,140,0.5299999713897705)*/
#modal-content{
    width: 90%;
    margin: auto;
    margin-top: 15%;
    background-color: rgba(131,196,140,0.5299999713897705);
}

.body{
    background-color: #F4F0EC;
}
.pic{
    border-radius: 50%;
    margin-bottom: 10px;
}
.btn_center{
    width: 122px;
    margin: auto;
}
.nextlevel_center{
    margin-top:10%;
    margin-left:25%;
}
@media screen and (max-width:500px) { 
    .nextlevel_center{
        margin-top:45%;
    }
  }